.idea/vcs.xml
.idea/workspace.xml
Interpolacion/__pycache__/lagrange.cpython-36.pyc
Interpolacion/__pycache__/newton.cpython-36.pyc
Params/__pycache__/paramBisec.cpython-36.pyc
Params/__pycache__/paramBusquedas.cpython-36.pyc
Params/__pycache__/paramNewton.cpython-36.pyc
Params/__pycache__/paramPunto.cpython-36.pyc
Params/__pycache__/paramRaices.cpython-36.pyc
Params/__pycache__/paramRegla.cpython-36.pyc
Params/__pycache__/paramSecante.cpython-36.pyc
SistemasEcuaciones/FactorizacionDirecta/__pycache__/factorizacionLUCholesky.cpython-36.pyc
SistemasEcuaciones/FactorizacionDirecta/__pycache__/factorizacionLUCrout.cpython-36.pyc
SistemasEcuaciones/FactorizacionDirecta/__pycache__/factorizacionLUDoolittle.cpython-36.pyc
SistemasEcuaciones/Gaussiana/__pycache__/EliminacionGaussianaParcial.cpython-36.pyc
SistemasEcuaciones/Gaussiana/__pycache__/EliminacionGaussianaSimple.cpython-36.pyc
SistemasEcuaciones/Gaussiana/__pycache__/EliminacionGaussianaTotal.cpython-36.pyc
SistemasEcuaciones/Iterativos/__pycache__/jacobi.cpython-36.pyc
SistemasEcuaciones/Iterativos/__pycache__/seidel.cpython-36.pyc
Soluciones/__pycache__/solucion.cpython-36.pyc
Soluciones/__pycache__/solucionFactorizacionDirecta.cpython-36.pyc
Soluciones/__pycache__/solucionIterativos.cpython-36.pyc
Soluciones/__pycache__/solucionLagrange.cpython-36.pyc
Soluciones/__pycache__/solucionNewton.cpython-36.pyc
Soluciones/__pycache__/solucionsistemas.cpython-36.pyc
UnaVariable/Abiertos/__pycache__/Newton.cpython-36.pyc
UnaVariable/Abiertos/__pycache__/PuntoFijo.cpython-36.pyc
UnaVariable/Abiertos/__pycache__/RaicesMultiples.cpython-36.pyc
UnaVariable/Abiertos/__pycache__/Secante.cpython-36.pyc
UnaVariable/Cerrados/__pycache__/Biseccion.cpython-36.pyc
UnaVariable/Cerrados/__pycache__/ReglaFalsa.cpython-36.pyc
__pycache__/BusquedasIncrementales.cpython-36.pyc
__pycache__/Datos.cpython-36.pyc
__pycache__/FuncionInterpolacion.cpython-36.pyc
__pycache__/Funciones.cpython-36.pyc
__pycache__/Sistemas.cpython-36.pyc
__pycache__/ingSistemas.cpython-36.pyc
__pycache__/interpolacion.cpython-36.pyc
__pycache__/ketapas.cpython-36.pyc
__pycache__/ketapasFactorizacion.cpython-36.pyc
__pycache__/main.cpython-36.pyc
__pycache__/sistemasEcuaciones.cpython-36.pyc
__pycache__/valoresIniciales.cpython-36.pyc
__pycache__/ayuda.cpython-36.pyc
Interpolacion/Trazadores/__pycache__/cubicoNatural.cpython-36.pyc
Soluciones/__pycache__/solucionCubico.cpython-36.pyc
